<div>
  <a>
    <ngb-rating [max]="5"  class="rating" >
      <!-- <ng-template let-fill="fill" let-index="index">
        <i class="bi-star{{fill === 100 ? '-fill' : ''}}" [class.filled]="fill === 100" [class.low]="index < 3"></i>
      </ng-template>-->
    </ngb-rating> </a>
  </div>
  
  
<div class="box">
  <p>What is a good NPS score ?</p>
  <form (ngSubmit)="OnSubmit()">
    <div class="mb-3">
      <ngb-rating [formControl]="ctrl"></ngb-rating>
    <div class="form-text small">
      <div *ngIf="input == null" class="text-danger">Please provide a rating</div>
      <div *ngIf="input == true" class="text-danger">Please provide a improvement</div>
      <div *ngIf="input == false" class="text-success">Thanks!</div>
    </div>
    <div>
      <textarea *ngIf="input" name="Feedback" id="feedback" cols="30" rows="4"></textarea>
      <label for="feedback"></label>
    </div>
    <button type="submit" class="btn btn-dark pe-4 px-4 mt-4 hover">Submit</button>
  </div>

</form>
</div>
<router-outlet></router-outlet>
